 #content .text{
            text-align: left;
            width:672px;
            margin:10px auto;
        }
        .title{
            font-size: 16px;
            font-weight: bold;
            position: relative;
        }
        .title2{
            height:198px;
        }
        .wapLink{
            color:#3b639f;
            text-decoration: underline;
            font-size: 14px;
            font-weight: normal;
        }
        #content .tip{
            color:#808080;
        }
        .ww-light{
            display:inline-block;
            vertical-align: middle;
        }
        .ww-light a{
            background: url(http://img04.taobaocdn.com/tps/i4/T1UPFAXnNfXXXXXXXX-130-60.gif) no-repeat 0 0;
            text-decoration: none!important;
            width: 70px;
            height: 20px;
            zoom: 1;
        }
        .ww-block {
            display: block;
            margin-top: 3px;
        }
        .erwei{
            position: absolute;
            left: 146px;
            top: 5px;
            text-align: center;
        }