        #content .title{
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 8px;
        }
        #content .title .required{
            color:#ff6600;
            line-height: 14px;
            vertical-align: -2px;
            font-size: 14px;
            font-weight: normal;
            width: 7px;
        }
        #content .title2{
            font-size: 18px;
            font-weight: bold;
            margin-top: 8px;
        }
        #content .title2 input{
            width:236px;
        }
        #content .title2 img{
            vertical-align: middle;
        }
        #content .tip{
            color:#4d4d4d;
            margin-top: -9px;
        }
        #content .tip2{
            color:#4d4d4d;
            margin-top: 2px;
        }
        #content .intro{
            width: 544px;
            margin: auto;
            text-align: left;
        }
        #content .intro textarea{
            width:378px;
            height:113px;
            border:1px solid #dcdcdc;
            resize:none;
            margin-bottom: 15px;
        }
        #content .android-pic{
            width:544px;
            margin:auto;
            text-align: left;
        }
        #content .iPhone-pic{
            width:544px;
            margin:auto;
            text-align: left;
        }
        #content .add-pic-btn1{
            margin-bottom: 8px;
            cursor:pointer;
        }
        #content .add-pic-btn2{
            cursor:pointer;
        }


        input{ vertical-align:middle; margin:0; padding:0}
        .file-box{ position:relative;width:544px;display: inline-block;margin:4px auto;}
        .txt{ height:30px; border:1px solid #cdcdcd; width:280px;font-size: 12px;margin-right: 5px;}
        .txt2{margin-right: 10px;}
        .btn2{margin-right: 3px;}
        .btn{
            background: #fff url('../img/deploy/select-pic.png') no-repeat 0px 0px;
            height:31px;
            width:107px;
            border:none;
            cursor: pointer;
        }
        .submit-btn{
            background: #fff url('../img/design/upload.PNG') no-repeat 4px -1px;
            height:31px;
            width:70px;
            border:none;
            cursor: pointer;
        }
        .file{
            position:absolute;
            top:0;
            right:152px;
            height:34px;
            filter:alpha(opacity:0);
            opacity: 0;
            width:100px;
            cursor: pointer;
        }