 #content .text{
            text-align: left;
            width:500px;
            margin:10px auto;
        }
         .title{
            font-size: 16px;
            font-weight: bold;
        }
         .title2{
             margin-top: -23px;
             margin-bottom: 10px;
             margin-left: -330px;
         }
        #content .tip{
            color:#4d4d4d;
        }
        #content .preview-btn{
            width: 315px;
            margin: 10px auto;
            text-align: left;
            position: relative;
        }
        #content .preview-btn img{
            cursor:pointer;
        }
        #content .preview-btn .iPhone-preview-tip{
            position: absolute;
            border:1px solid #dcdcdc;
            background-color: #fff;
            width:496px;
            height: 167px;
            top: -173px;
            left: -89px;
            display: none;
            z-index:100;
        }
        #content .preview-btn .iPhone-preview-tip .tip-text{
            font-size: 14px;
            color:#4d4d4d;
            margin-top: 35px;
            margin-left: 25px;
        }
        #content .preview-btn .iPhone-preview-tip .tip-btn{
            width: 252px;
            margin: 34px auto;
        }