#content .selectStyle{
    float:left;
    text-align: left;
    margin-left: 20px;
    width:598px;
}
#content .selectStyle .title{
    font-size:16px;
    font-weight:bold;
    display:block;
    margin:5px 0px;
}
#content .selectStyle .tip{
    font-size:12px;
    clear:both;
    display:block;
}
#content .selectStyle .styleItem{
    width:516px;
}
#content .selectStyle .styleItem .selectC{
    width: 36px;
    height:36px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 10px;
    cursor:pointer;
    border:3px solid #d4d4d4;
}
#content .selectStyle .styleItem .style1{
    background:url("../img/design-skin/style1-icon.png") no-repeat 0px 0px;
}
#content .selectStyle .styleItem .style2{
    background:url("../img/design-skin/style2-icon.png") no-repeat 0px 0px;
}
#content .selectStyle .styleItem .style3{
    background:url("../img/design-skin/style3-icon.png") no-repeat 0px 0px;
}
#content .selectStyle .styleItem .style4{
    background:url("../img/design-skin/style4-icon.png") no-repeat 0px 0px;
}
#content .selectStyle .styleItem .style5{
    background:url("../img/design-skin/style5-icon.png") no-repeat 0px 0px;
}
#content .selectStyle .styleItem .style6{
    background:url("../img/design-skin/style6-icon.png") no-repeat 0px 0px;
}
#content .selectStyle .styleItem .style7{
    background:url("../img/design-skin/style7-icon.png") no-repeat 0px 0px;
}
#content .selectStyle .styleItem .style8{
    background:url("../img/design-skin/style8-icon.png") no-repeat 0px 0px;
}
#content .selectStyle .styleItem .style9{
    background:url("../img/design-skin/style9-icon.png") no-repeat 0px 0px;
}
#content .selectStyle .styleItem .style10{
    background:url("../img/design-skin/style10-icon.png") no-repeat 0px 0px;
}
#content .selectStyle .styleItem .style11{
    background:url("../img/design-skin/style11-icon.png") no-repeat 0px 0px;
}
#content .selectStyle .styleItem .style12{
    background:url("../img/design-skin/style12-icon.png") no-repeat 0px 0px;
}
#content .selectStyle .styleItem .style13{
    background:url("../img/design-skin/style13-icon.png") no-repeat 0px 0px;
}
#content .selectStyle .styleItem .style14{
    background:url("../img/design-skin/style14-icon.png") no-repeat 0px 0px;
}
#content .selectStyle .styleItem .style15{
    background:url("../img/design-skin/style15-icon.png") no-repeat 0px 0px;
}
#content .selectStyle .styleItem .style16{
    background:url("../img/design-skin/style16-icon.png") no-repeat 0px 0px;
}
#content .selectStyle .styleItem .style17{
    background:url("../img/design-skin/style17-icon.png") no-repeat 0px 0px;
}
#content .selectStyle .styleItem .style18{
    background:url("../img/design-skin/style18-icon.png") no-repeat 0px 0px;
}#content .selectStyle .styleItem .style19{
     background:url("../img/design-skin/style19-icon.png") no-repeat 0px 0px;
 }
#content .selectStyle .styleItem .style20{
    background:url("../img/design-skin/style20-icon.png") no-repeat 0px 0px;
}
#content .phonePreview img{
    margin-top: 40px;
}
