#content .selectSize{
	float:left;
	width:438px;
	margin-right: 28px;
}
#content .selectSize .sizeItem{
	width:132px;
	height:140px;
	display:inline-block;
	background-color: #e5e5e5;
	border:3px solid gainsboro;
	margin-right: 4px;
	cursor:pointer;
}
#content .selectSize .sizeBox{
	background-color: #989898;
	border-radius: 9px;
	vertical-align: middle;
}
#content .selectSize .sizeBox1{
	width:29px;
	height:29px;
	margin:48px 48px 40px 48px;
}
#content .selectSize .sizeBox2{
	width:72px;
	height:72px;
	margin:31px 11px 14px 34px;
}
#content .selectSize .sizeBox3{
	width:96px;
	height:96px;
	margin:12px 8px 9px 18px;
}
#content .selectSize .sizeBox1 img{
	width:27px;
	height:27px;
}
#content .selectSize .sizeBox2 img{
	width:70px;
	height:70px;
}
#content .selectSize .sizeBox3 img{
	width:94px;
	height:94px;
}
#content .selectSize .button1{
	cursor:pointer;
	margin:6px 0px;
}
#content .selectColor{
	float:left;
	margin-left: 8px;
	width:500px;
	text-align: left;
}
#content .vertical-line{
	border-right: 1px solid gainsboro;
}
#content .selectColor .title{
	font-size:16px;
	font-weight:bold;
	display:block;
	margin:5px 0px;
}
#content .selectColor .tip{
	font-size:12px;
	clear:both;
	display:block;
}
#content .selectColor .uploadPic{
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
	position: relative;
}
#content .selectColor .uploadPic .preview-btn{

}
#content .selectColor .uploadPic img{
	vertical-align: middle;
	cursor: pointer;
}
#content .selectColor .bgcolor .selectC{
	width: 30px;
	height:30px;
	display: inline-block;
	margin-right: 6px;
	margin-top: 10px;
	cursor:pointer;
	border: 5px solid transparent;
}
#content .selectColor .bgcolor .color1{
	background-color: #ffda2d;
}
#content .selectColor .bgcolor .color2{
	background-color: #139620;
}
#content .selectColor .bgcolor .color3{
	background-color: #e92420;
}
#content .selectColor .bgcolor .color4{
	background-color: #00ad9c;
}
#content .selectColor .bgcolor .color5{
	background-color: #5f5e5e;
}
#content .selectColor .bgcolor .color6{
	background-color: #ca1e4e;
}
#content .selectColor .bgcolor .color7{
	background-color: #259ddb;
}
#content .selectColor .bgcolor .color8{
	background-color: #db2092;
}
#content .selectColor .bgcolor .color9{
	background-color: #233496;
}
#content .selectColor .bgcolor .color10{
	 background-color: #c58e60;
}
/*
#content .selectColor .bgcolor .color11{
	background-color: #a40036;
}
#content .selectColor .bgcolor .color12{
	background-color: #7d0000;
}
#content .selectColor .bgcolor .color13{
	background-color: #7f2e00;
}
#content .selectColor .bgcolor .color14{
	background-color: #834f00;
}
#content .selectColor .bgcolor .color15{
	background-color: #8a8100;
}
#content .selectColor .bgcolor .color16{
	background-color: #496a00;
}
#content .selectColor .bgcolor .color17{
	background-color: #005620;
}
#content .selectColor .bgcolor .color18{
	background-color: #005982;
}
#content .selectColor .bgcolor .color19{
	background-color: #003567;
}
#content .selectColor .bgcolor .color20{
	background-color: #05004c;
}
#content .selectColor .bgcolor{
	margin-bottom: 10px;
}
*/

input{ vertical-align:middle; margin:0; padding:0}
.file-box{ position:relative;width:500px;display: inline-block;}
.txt{ height:30px; border:1px solid #cdcdcd; width:236px;font-size: 12px;margin-left: -8px;}
.btn{
	background: #fff url('../img/design/scan.PNG') no-repeat 0px 0px;
	height:31px;
	width:81px;
	border:none;
}
.file{
	position:absolute;
	top:0;
	right:95px;
	height:34px;
	filter:alpha(opacity:0);
	opacity: 0;
	width:82px
}