#content .flowStep .detail{
    margin-top: 20px;
    vertical-align: middle;
}
#content .flowStep .detail li{
    font-size: 16px;
    font-weight:bold;
    margin:10px 0px;
    vertical-align: middle;
}
#content .flowStep .detail li span{
    font-size: 14px;
    font-weight: normal;
}
#content .flowStep p{
    font-size: 12px;
    display: block;
    margin-top: 10px;
    margin-left: 235px;
    margin-bottom: 20px;
}
#content .flowStep a{
    vertical-align: middle;
}
#content .flowStep .scheduleBar{
    width: 16px;
    height:16px;
    border: 1px solid gainsboro;
    border-color: #cdcccc;
    background-color:#82c32e ;
    display: inline-block;
    margin-left: -3px;
}
#content .flowStep .scheduleBar-complete{
    background-color:#82c32e ;
}
#content .flowStep .scheduleBar-incomplete{
    background-color:#ff6600 ;
}
#content .flowStep .scheduleBar-unstart{
    background-color:#ffffff ;
}
#content .phonePreview{
    float:left;
    width:370px;
    margin-top: 1px;
    margin-left: 1px;
    height:580px;
    background: url("../img/design/bkgPhone.png") no-repeat 0px 0px;
}
#content .nSave{
    text-align: center;
    margin-top: 26px;
    clear:both;
}

/****************begin 宝贝搜索框样式*************/
#content .store-product{
    width: 598px;
    height: 550px;
    background-color: #f0f0f0;
    font-size: 16px;
    font-weight: bold;
    display:none;
}
#content .store-product .search-input{
    margin-left: 13px;
    padding-top: 10px;
    margin-bottom: 8px;
}
#content .store-product .search-input img{
    vertical-align: middle;
}
#content  .store-product .box-left{
    width:240px;
    height:477px;
    border: 1px solid gainsboro;
    display: inline-block;
    background-color: #fff;
    margin-left: 14px;
    float:left;
    overflow-x: hidden;
    overflow-y: auto;
}
#content .store-product .item-sub{
    width:234px;
    float:left;
    height: 68px;
    padding-left: 6px;
    padding-top: 6px;
    border-bottom: 1px solid #e3e3e3;
    cursor:pointer;
    position: relative;
}
.item-sub-focus{
    background-color: #d0c3a3;
}

#content .store-product .item-sub .item-sub-pic{
    display: inline-block;
}
#content  .store-product .item-sub-pic img{
    width:57px;
    height:57px;
}
#content .store-product .item-sub .item-sub-dscptn{
    display: inline-block;
    margin-left: 3px;
}
#content .store-product .item-sub .title{
    font-size: 14px;
    font-weight: normal;
    text-overflow:ellipsis;
    position: absolute;
    top: 10px;
    height: 20px;
    overflow: hidden;
}
#content .store-product .item-sub .price{
    font-size: 12px;
    font-weight: normal;
    color:#ff6600;
}
#content .store-product .button{
    width:80px;
    height:73px;
    display: inline-block;
    vertical-align: top;
    margin-top: 128px;
    margin-left:3px;
}
#content .store-product .button .add-transfer-button{
    cursor:pointer;
}
#content .store-product .box-right{
    width:240px;
    height:477px;
    border: 1px solid gainsboro;
    display: inline-block;
    background-color: #fff;
    margin-left: -4px;
    overflow-x: hidden;
    overflow-y: auto;
}
/****************end 宝贝搜索框样式*************/