

/****************begin 上传文件框样式****************/
input{ vertical-align:middle; margin:0; padding:0}
.file-box{ position:relative;width:544px;display: inline-block;}
.txt{ height:30px; border:1px solid #cdcdcd; width:280px;font-size: 12px;margin-left: -8px;}
.btn{
    background: #fff url('../img/design/scan.PNG') no-repeat 0px 0px;
    height:31px;
    width:81px;
    border:none;
}
.file{
    position:absolute;
    top:0;
    right:93px;
    height:34px;
    filter:alpha(opacity:0);
    opacity: 0;
    width:82px
}
/****************end 上传文件框样式****************/

/****************begin 广告位样式****************/
.add-submit-btn{
    position: relative;
}
.add-btn{
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 86px;
    width: 68px;
    height: 31px;
    background: white url('../img/edit/add-button.PNG') no-repeat 0px -1px;
    border: none;
    cursor: pointer;
}

#content .phonePreview .preview-content{
    width:318px;
    height:478px;
    background:url("../img/edit/preview_bkg.PNG") repeat-y 0px 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 39px;
    margin-left: 26px;
}
#content .phonePreview .preview-content .P_home{
    margin-top: 0px;
}
#content .phonePreview .preview-content .P_ad{
    margin-left: 6px;
    margin-top: 0px;
    margin-bottom: 6px;
    cursor:pointer;
    width:305px;
    height:103px;
    border:2px solid gainsboro;
    overflow:hidden;
    position: relative;
}
#content .phonePreview .preview-content .P_ad img{
    width:305px;
    height:103px;
}
#content .phonePreview .preview-content .P_ad .P_ad_overlay img{
    width:80px;
    height:31px;
}
#content .phonePreview .preview-content .P_ad:hover{
    margin-left: 6px;
    margin-top: 0px;
    margin-bottom: 6px;
    cursor:pointer;
    border:2px solid #ff6600;
}
#content .phonePreview .preview-content .P_ad .P_ad_mask{
    background-color:#000;
    width:308px;
    height:106px;
    position: absolute;
    z-index: 20;
    opacity: 0.4;
    overflow: hidden;
    top:0;
    left:0;
    display: none;
}
#content .phonePreview .preview-content .P_ad .P_ad_overlay{
    text-align: left;
    margin-left: 3px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 21;
    display: none;
}
#content .phonePreview .preview-content .P_ad .P_ad_overlay .title{
    color:#fff;
    font-size: 16px;
    font-weight: bold;
}
#content .phonePreview .preview-content .P_ad .P_ad_overlay .tip{
    color:#fff;
    font-size: 14px;
}
#content .phonePreview .preview-content .P_ad .P_ad_overlay .edit-btn{
    position: absolute;
    left: 209px;
    top: 58px;
}
#content .phonePreview .preview-content .P_box{
    margin-left: 4px;
}
#content .phonePreview .preview-content .P_box .item-box{
    width:86px;
    height:92px;
    border: 1px solid gainsboro;
    border-color: #cccccc;
    display:inline-block;
    margin-left: 2px;
    cursor:pointer;
    position: relative;
}
#content .phonePreview .preview-content .P_box .item-box .P_box_mask{
    background-color:#000;
    position: absolute;
    z-index: 20;
    opacity: 0.4;
    overflow: hidden;
    width:88px;
    height:94px;
    top:0;
    left:0;
    display: none;
}
#content .phonePreview .preview-content .P_box .item-box .P_box_overlay{
    position: absolute;
    z-index: 21;
    top: 61px;
    left: 2px;
    display: none;
}
#content .phonePreview .preview-content .P_box .item-box:hover{
    border:2px solid #ff6600;
    width:86px;
    height:92px;
    display:inline-block;
    margin-left: 2px;
    cursor:pointer;
}
#content .phonePreview .preview-content .P_box .item-box .subject{
    width:58px;
    font-size:20px;
    color:#ffffff;
    float:left;
    font-family: Microsoft YaHei ;
}
#content .phonePreview .preview-content .P_box .item-box img{
    margin-top: -1px;
    width:86px;
    height:92px;
}
#content .phonePreview .preview-content .P_box .item-box .P_box_overlay img{
    width:80px;
    height:31px;
}
#content .phonePreview .preview-content .P_box .item-box1{
    background-color: #d0c3a3;
}
#content .phonePreview .preview-content .P_box .item-box6{
    background-color: #c1c9ab;
}
#content .phonePreview .preview-content .P_box .item-box8{
    background-color: #cc9a86;
}
#content .phonePreview .preview-content .P_new{
    width:318px;
    height:478px;
}
#content .phonePreview .preview-content .P_new .P_new_title{
    color:#918478;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}
#content .phonePreview .preview-content .P_new .P_new_bb{
    border:2px solid #fff;
    position: relative;
    cursor:pointer;
}
#content .phonePreview .preview-content .P_new .P_new_bb .P_new_mask{
    background-color:#000;
    position: absolute;
    z-index: 20;
    opacity: 0.4;
    overflow: hidden;
    width:318px;
    height:458px;
    top:0;
    left:0;
    display: none;
}
#content .phonePreview .preview-content .P_new .P_new_bb .P_new_overlay{
    position: absolute;
    z-index: 21;
    top: 35px;
    left: 8px;
    text-align: left;
    display: none;
    color: #fff;
}
#content .phonePreview .preview-content .P_new .P_new_bb .P_new_overlay .title{
    font-size: 16px;
    font-weight: bold;
}
#content .phonePreview .preview-content .P_new .P_new_bb .P_new_overlay .tip{
    font-size: 14px;
}
#content .phonePreview .preview-content .P_new .P_new_bb .P_new_overlay .edit-btn{
    position: absolute;
    top: -7px;
    left: 200px;
}
#content .phonePreview .preview-content .P_new .P_new_bb:hover{
    border:2px solid #ff6600;
}
#content .phonePreview .preview-content .P_new .P_new_item{
    width:142px;
    height:146px;
    border: 1px solid gainsboro;
    background-color: #fff;
    display: inline-block;
    margin-right: 5px;
}
#content .phonePreview .preview-content .P_hot{
    width:318px;
    height:478px;
    margin-top: 15px;
}
#content .phonePreview .preview-content .P_hot .P_hot_title{
    color:#918478;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}
#content .phonePreview .preview-content .P_hot .P_hot_bb{
    border:2px solid #fff;
    position: relative;
}
#content .phonePreview .preview-content .P_hot .P_hot_bb .P_hot_mask{
    background-color:#000;
    position: absolute;
    z-index: 20;
    opacity: 0.4;
    overflow: hidden;
    width:318px;
    height:192px;
    top:0;
    left:0;
    display: none;
}
#content .phonePreview .preview-content .P_hot .P_hot_bb .P_hot_overlay{
    position: absolute;
    z-index: 21;
    top: 35px;
    left: 8px;
    text-align: left;
    display: none;
    color: #fff;
}
#content .phonePreview .preview-content .P_hot .P_hot_bb .P_hot_overlay .title{
    font-size: 16px;
    font-weight: bold;
}
#content .phonePreview .preview-content .P_hot .P_hot_bb .P_hot_overlay .tip{
    font-size: 14px;
}
#content .phonePreview .preview-content .P_hot .P_hot_bb .P_hot_overlay .edit-btn{
    position: absolute;
    top: -7px;
    left: 200px;
}
#content .phonePreview .preview-content .P_hot .P_hot_bb:hover{
    border:2px solid #ff6600;
    cursor:pointer;
}
#content .phonePreview .preview-content .P_hot .P_hot_item{
    width:90px;
    height:90px;
    border: 1px solid gainsboro;
    background-color: #fff;
    display: inline-block;
    margin-right: 5px;
}
#content .phonePreview .preview-content .P_footer{
    position: absolute;
    top: 635px;
}
#content .ad-pos{
    float:left;
    text-align: left;
    margin-left: 20px;
    width:598px;
    position: relative;
    display: none;
}
#content .ad-pos .ad-list{
    width:598px;
    margin-top:10px;
}
#content .ad-pos .ad-list .ad-item{
    width:588px;
    height:135px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
}
#content .ad-pos .ad-list .ad-item .ad-item-pic{
    display:inline-block;
    margin: 11px 0px 0px 10px;
    width: 313px;
}
#content .ad-pos .ad-list .ad-item .ad-item-button{
    width:80px;
    display: inline-block;
    margin-left:6px;
}
#content .ad-pos .ad-list .ad-item .ad-item-button img{
    margin-top: 6px;
    cursor:pointer;
}
#content .ad-pos .ad-list .ad-item .ad-item-shift{
    width: 52px;
    display: inline-block;
    float: right;
    margin-top: 30px;
}
#content .ad-pos .ad-list .ad-item .ad-item-shift .item-shift-up1{
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 23px solid #d8d8d8;
    cursor:pointer;
}
#content .ad-pos .ad-list .ad-item .ad-item-shift .item-shift-up2{
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 23px solid #808080;
    cursor:pointer;
}
#content .ad-pos .ad-list .ad-item .ad-item-shift .item-shift-box1{
    border-bottom: 2px solid gainsboro;
    border-color: #dedede;
    width:52px;
    height:62px;
}
#content .ad-pos .ad-list .ad-item .ad-item-shift .item-shift-box{
   margin-bottom: 25px;
}
#content .ad-pos .ad-list .ad-item .ad-item-shift .item-shift-down1{
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 23px solid #d8d8d8;
    cursor:pointer;
}
#content .ad-pos .ad-list .ad-item .ad-item-shift .item-shift-down2{
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 23px solid #808080;
    cursor:pointer;
}
#content .ad-pos .title{
    font-size:16px;
    font-weight:bold;
    display:block;
    margin:5px 0px;
}
#content .ad-pos .tip{
    font-size:12px;
    clear:both;
    display:block;
}
#content .ad-pos .tip2{
    margin-bottom: 15px;
}
#content .ad-pos .add_button{
    position:absolute;
    top: 38px;
    right: 38px;
    cursor:pointer;
}
#content .ad-pos .nSave{
    text-align: center;
    margin-top: 26px;
}
#content .ad-pos .add-ad{
    display:none;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
}
#content .ad-pos .add-ad div{
    margin-bottom: 9px;
}
#content .ad-pos .add-ad .keyword-input{
    display:none;
}
#content .ad-pos .add-ad .store-item{
    display:none;
}
#content .ad-pos .add-ad .store-keyword-search{
    display:none;
}

/****************end 广告位样式****************/


/**********begin 三个专题编辑的样式*******************/

#content .ThreeSubject{
    float:left;
    text-align: left;
    margin-left: 20px;
    width:598px;
    position: relative;
    display: none;
}
#content .ThreeSubject .nSave{
    text-align: center;
    margin-top: 26px;
    clear:both;
}
#content .ThreeSubject .title{
    font-size:16px;
    font-weight:bold;
    display:block;
    margin:15px 0px 5px;
}
#content .ThreeSubject .tip{
    font-size:12px;
    clear:both;
    display:block;
    margin-bottom: 18px;
}
#content .ThreeSubject .displayModule{
    position:absolute;
    top: 17px;
    right: 29px;
    font-size: 16px;
    font-weight: bold;
}
#content .ThreeSubject .sub-list{
    width:598px;
    margin-top:10px;
    position:relative;
}
#content .ThreeSubject .sub-list .sub-item{
    width: 558px;
    height: 80px;
    background-color: #F0F0F0;
    margin-bottom: 10px;
    margin-left: 40px;
}
#content .ThreeSubject .sub-list .sub-num{
    background-color: #fff;
    font-size: 42px;
    display:inline-block;
    width:40px;
    height:80px;
}
#content .ThreeSubject .sub-list .sub-num1{
    position: absolute;
}
#content .ThreeSubject .sub-list .sub-num2{
    position: absolute;
    top:90px;
}
#content .ThreeSubject .sub-list .sub-num3{
    position: absolute;
    top:180px;
}
#content .ThreeSubject .sub-list .sub-item .sub-item-text{
    font-size: 16px;
    font-weight: bold;
    color:#808080;
    display: inline-block;
    margin-left: 10px;
    margin-top: 27px;
}
#content .ThreeSubject .sub-list .sub-item .sub-item-button{
    display: inline-block;
    vertical-align: middle;
    margin-right: 35px;
    float: right;
    margin-top: 27px;
}
#content .ThreeSubject .sub-list .sub-item .sub-item-button img{
    margin-right: 5px;
    cursor:pointer;
}


#content .ThreeSubject .sub-list .sub-item .sub-item-shift{
    width: 52px;
    display: inline-block;
    float: right;
    margin-top: 15px;
}
#content .ThreeSubject .sub-list .sub-item .sub-item-shift .item-shift-up1{
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 20px solid #d8d8d8;
    cursor:pointer;
}
#content .ThreeSubject .sub-list .sub-item .sub-item-shift .item-shift-up2{
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 20px solid #808080;
    cursor:pointer;
}
#content .ThreeSubject .sub-list .sub-item .sub-item-shift .item-shift-box{
    margin-bottom: 10px;
}
#content .ThreeSubject .sub-list .sub-item .sub-item-shift .item-shift-down1{
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 20px solid #d8d8d8;
    cursor:pointer;
}
#content .ThreeSubject .sub-list .sub-item .sub-item-shift .item-shift-down2{
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 20px solid #808080;
    cursor:pointer;
}
#content .ThreeSubject .edit-sub{
    display:none;
}
#content .ThreeSubject .edit-sub{
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}
#content .ThreeSubject .edit-sub div{
    margin-bottom: 9px;
}
#content .ThreeSubject .edit-sub .sub-keyword{
    display: none;
}
#content .ThreeSubject .edit-sub .sub-store-item{
    display: none;
}
#content .ThreeSubject .edit-sub .sub-store-keyword{
    display: none;
}


/**********end 三个专题编辑的样式*******************/



/**********begin 六个宝贝编辑的样式*******************/
#content .six-bb{
    float:left;
    text-align: left;
    margin-left: 20px;
    width:598px;
    position: relative;
    display: none;
}
#content .six-bb .nSave{
    text-align: center;
    margin-top: 26px;
    clear:both;
}
#content .six-bb .title{
    font-size:16px;
    font-weight:bold;
    display:block;
    margin:15px 0px 5px;
}
#content .six-bb .tip{
    font-size:12px;
    clear:both;
    display:block;
    margin-bottom: 18px;
}
#content .six-bb .import_button{
    position:absolute;
    top: 24px;
    right: 29px;
    font-size: 16px;
    font-weight: bold;
}
#content .six-bb .bb-list{
    width:598px;
    height:510px;
    margin-top:10px;
    position:relative;
}
#content .six-bb .bb-list .bb-item{
    width: 558px;
    height: 80px;
    background-color: #F0F0F0;
    margin-bottom: 10px;
    margin-left: 40px;
    display:inline-block;
}
#content .six-bb .bb-list .bb-num{
    background-color: #fff;
    font-size: 42px;
    display:inline-block;
    width:40px;
    height:80px;
    position: absolute;
}
#content .six-bb .bb-list .bb-num1{
    top:0px;
    left:0px;
}
#content .six-bb .bb-list .bb-num2{
    top:90px;
    left:0px;
}
#content .six-bb .bb-list .bb-num3{
    top:180px;
    left:0px;
}
#content .six-bb .bb-list .bb-num4{
    top:270px;
    left:0px;
}
#content .six-bb .bb-list .bb-num5{
    top:360px;
    left:0px;
}
#content .six-bb .bb-list .bb-num6{
    top:450px;
    left:0px;
}
#content .six-bb .bb-list .bb-item .bb-item-pic{
    display:inline-block;
    float: left;
    margin-top: 10px;
    margin-left: 8px;
    width:59px;
    height:59px;
    border: 1px solid gainsboro;
}
#content .six-bb .bb-list .bb-item .bb-item-pic img{
    width:57px;
    height:57px;
}
#content .six-bb .bb-list .bb-item .bb-item-dscptn{
    display:inline-block;
    margin-left: 12px;
    width: 280px;
    overflow: hidden;
    white-space:nowrap;
}
#content .six-bb .bb-list .bb-item .title{
    font-size: 14px;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
}
#content .six-bb .bb-list .bb-item .price{
    font-size: 12px;
    font-weight: normal;
    color: #F60;
}
#content .six-bb .bb-list .bb-item .bb-item-button{
    display:inline-block;
    margin-left: 14px;
}
#content .six-bb .bb-list .bb-item .bb-item-shift{
    width: 52px;
    display: inline-block;
    float: right;
    margin-top: 15px;
}
#content .six-bb .bb-list .bb-item .bb-item-shift .item-shift-up1{
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 20px solid #d8d8d8;
    cursor:pointer;
}
#content .six-bb .bb-list .bb-item .bb-item-shift .item-shift-up2{
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 20px solid #808080;
    cursor:pointer;
}
#content .six-bb .bb-list .bb-item .bb-item-shift .item-shift-box{
    margin-bottom: 10px;
}
#content .six-bb .bb-list .bb-item .bb-item-shift .item-shift-down1{
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 20px solid #d8d8d8;
    cursor:pointer;
}
#content .six-bb .bb-list .bb-item .bb-item-shift .item-shift-down2{
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 20px solid #808080;
    cursor:pointer;
}
#content .six-bb .bb-cancel-button{
    display:none;
}
#content .six-bb .bb-add-button{
    display:none;
}


/**********end 六个宝贝编辑的样式*******************/


/**********begin 宝贝上新模块的样式*******************/
#content .update-bb{
    float:left;
    text-align: left;
    margin-left: 20px;
    width:598px;
    position: relative;
    display: none;
}
#content .update-bb .nSave{
    text-align: center;
    margin-top: 26px;
    clear:both;
}
#content .update-bb .title{
    font-size:16px;
    font-weight:bold;
    display:block;
    margin:15px 0px 5px;
}
#content .update-bb .tip{
    font-size:12px;
    clear:both;
    display:block;
    margin-bottom: 18px;
}
#content .update-bb .displayModule{
    position:absolute;
    top: 17px;
    right: 29px;
    font-size: 16px;
    font-weight: bold;
}

/**********end 宝贝上新模块的样式*******************/


/**********begin 热销宝贝模块的样式*******************/
#content .hot-sell{
    float:left;
    text-align: left;
    margin-left: 20px;
    width:598px;
    position: relative;
    display: none;
}
#content .hot-sell .store-product{
    position: absolute;
    top:-52px;
    left:-117px;
    z-index: 100;
}
#content .hot-sell .nSave{
    text-align: center;
    margin-top: 26px;
    clear:both;
}
#content .hot-sell .title{
    font-size:16px;
    font-weight:bold;
    display:block;
    margin:15px 0px 5px;
}
#content .hot-sell .title button{
    float:right;
}
#content .hot-sell .tip{
    font-size:12px;
    clear:both;
    display:block;
    margin-bottom: 7px;
}
#content .hot-sell .displayModule{
    position:absolute;
    top: 20px;
    right: 29px;
    font-size: 16px;
    font-weight: bold;
}
#content .hot-sell .disable-box{
    width:608px;
    background-color: #f0f0f0;
    margin-top: 26px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#content .hot-sell .disable-box .text{
    padding-top: 10px;
    padding-left: 10px;
}
#content .hot-sell .disable-box .link{
    color: #3B639F;
    text-decoration: underline;
    font-size: 14px;
    display: inline-block;
    width: 475px;
    white-space: nowrap;
    overflow: hidden;
}
#content .hot-sell .disable-box .cancel-dis{
    float: right;
    margin-right: 26px;
    cursor: pointer;
    display: inline-block;
    width: 62px;
}
/**********end 热销宝贝模块的样式*******************/