/**
 * @author xijian
 * @version v1.0.0 first release
 * @description 本页是万花筒登录首页的样式
 */

/*-------homepage css---------*/

#content{
    width:990px;
}
#content .login{
    overflow-x: hidden;
    background: url("../img/homepage/login-bkg.PNG") no-repeat 0px 0px;
    width:990px;
    height:352px;
}
#content .login .login-box{
    width: 278px;
    float: right;
    margin-right: 100px;
    margin-top: 88px;
    position: relative;
}
/*
#content .login .login-box .input{
    margin-right: -151px;
    margin-top: -9px;
    margin-bottom: 31px;
}
#content .login .login-box input{
    width:275px;
    height:48px;
    font-size: 22px;
    background:transparent;
    border:none;
}
*/
#content .login .button{
    position: absolute;
    top: 168px;
    left: -69px;
}
#content .login .button span{
    margin-left: 32px;
    font-size: 17px;
    color: white;
    text-decoration: underline;
    cursor:pointer;
}
#content .module{
    text-align:center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#content .module .item{
    float:left;
    margin-left: 16px;
}
