
#content{
    text-align: left;
    margin: 0 auto;
    width: 658px;
    margin-top: 15px;
    height:550px;
    position: relative;
}
#content .title{
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}
#content div{
    margin-bottom:10px ;
}
#content table{
    border:1px solid gainsboro;
    width:658px;
    text-align: center;
}
#content table th{
    height:55px;
    font-size: 16px;
}
#content table td{
    height:38px;
    font-size: 14px;
}
#content table .app-name{
    font-weight:bold;
}
#content table .manage{
    color:#3b639f;
    text-decoration: underline;
    cursor:pointer;
}
#body{
    text-align:center;
}
#content .add-app-btn{
    position: absolute;
    left: 540px;
    top: 1px;
    cursor:pointer;
}

input{ vertical-align:middle; margin:0; padding:0}
.file-box{ position:relative;width:544px;display: inline-block;margin:4px auto;}
.txt{ height: 26px;
    border: 1px solid #CDCDCD;
    width: 227px;
    font-size: 12px;
    margin-right: 5px;
}
.btn{
    background: #fff url('../img/design/scan.PNG') no-repeat 0px 0px;
    height:31px;
    width:88px;
    border:none;
    cursor: pointer;
}
.submit-btn{
    background: #fff url('../img/design/upload.PNG') no-repeat 4px -1px;
    height:31px;
    width:70px;
    border:none;
    cursor: pointer;
}
.file{
    position: absolute;
    top: 0;
    right: 158px;
    height: 34px;
    filter: alpha(opacity:0);
    opacity: 0;
    width: 88px;
    cursor: pointer;
}
.required{
    color:#ff6600;
    line-height: 14px;
    vertical-align: -2px;
    font-size: 14px;
    font-weight: normal;
    width: 7px;
}

.mask-overlay{
    display: none;
    width:2260px;
    height:1000px;
    background-color:black;
    position:fixed;
    left:0;
    top:0;
    z-index:10;
    opacity:0.5;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    overflow:hidden;
}
.app-id-dialog{
    position: absolute;
    left: 352px;
    top: 147px;
    background-color: white;
    border: 1px solid #414141;
    width: 544px;
    height: 186px;
    z-index: 11;
    text-align: left;
    padding-left: 5px;
    padding-top: 5px;
    display: none;
}
.app-id-dialog .tip-text{
    font-size: 16px;
    font-weight: bold;
}
.app-id-dialog .app-btn .a-btn{
    display: inline-block;
    background-color: #FFDF92;
    width: 78px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    border-radius: 5px;
    color: #A47533;
    font-weight: bold;
    margin-right: 19px;
    cursor:pointer;
    border: none;
}
.app-id-dialog .app-btn{
    width: 200px;
    margin: 10px auto;
}